extends layout

block content
  .dashboard_container
    h1 Dashboard 
    h2 Welcome #{schoolId}
    h3 Please choose where you want to sit from the panel.
  .seat_container
    .seat
      button  1
    .seat
      button  2
    .seat
      button.active  3
    .seat
      button  4
    .seat
      button  5
    .seat
      button  6
    .seat
      button  7
    .seat
      button.active(disabled)  8
    .seat
      button  9
    .seat
      button 10
    .seat
      button 11
    .seat
      button 12
    .seat
      button 13
    .seat
      button 14
    .seat
      button 15
    .seat
      button 16
    .seat
      button 17
    .seat
      button 18
    .seat
      button 19
    .seat
      button 20
    .seat
      button 21
    .seat
      button.active(disabled)  22
    .seat
      button 23
    .seat
      button 24
    .seat
      button 25
    .seat
      button 26
    .seat
      button.active(disabled) 27
    .seat
      button 28
    .seat
      button 29
    .seat
      button 30
    .seat
      button 31
    .seat
      button 32
    .seat
      button 33
    .seat
      button 34
    .seat
      button.active(disabled) 35
    .seat
      button 36
    .seat
      button 37
    .seat
      button 39
    .seat
      button 40