extends layout

block content
  .login_wrapper 
    .welcome_text_container
      h1.welcome_text_title= title
      p.welcome_text Seating Arrangement Automation
      img(src="https://upload.wikimedia.org/wikipedia/tr/9/96/F%C4%B1rat_%C3%9Cniversitesi_logo.png", alt="Fırat University Logo")

      .login_form_container
        form(action="/" method="POST") 
          h3.login_text Please enter your school number: 
          input.login_input(type="number" placeholder="School Number..." name="schoolId")
          button.login_button(type="submit") Login