* {
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font: 14px;
  background: url("http://www.firat.edu.tr/images/news/1635329056.jpg")
    no-repeat fixed;
  background-size: cover;
}

.login_wrapper {
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.welcome_text_container {
  text-align: center;
  margin-bottom: 2rem;
  background-color: white;
  padding: 3rem 8rem;
  margin: auto;
}

.welcome_text_title {
  margin-bottom: 1rem;
}
.welcome_text {
  margin-bottom: 1.5rem;
}

.welcome_text_container > img {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 1rem;
}

.login_form_container {
  text-align: center;
}

.login_form_container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.login_text {
  margin-bottom: 1.5rem;
}

.login_input {
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
}

.login_button {
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  background-color: rgb(153 28 70 / 67%);
  color: white;
}

.login_button:hover {
  cursor: pointer;
}

.dashboard_container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 8rem;
  margin: auto;
}
